@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@media screen and (max-width: 1200px) {
  .main-sections {
    grid-template-columns: 1fr 1fr;
  }
  .sponsor-thumbail {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .main-sections {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .sports-thumbail {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .technology-thumbail {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .economy-thumbail {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: #fff !important;
  background-color: #0d0d0d !important;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*----------------- HEADER -------------------*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cac-topbar {
  color: #fff;
  background-color: #ff0000;
}

.cac-topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.left-content {
  max-width: 60%;
}
.right-content {
  width: 20vw;
  align-items: center;
}

.breaking-news span {
  width: 15vw;
  color: #fff;
  padding: 15px 20px;
  border-right: 1px solid #f0f3f5;
  font-weight: 500;
}

.breaking-news {
  display: flex;
  align-items: center;
  width: 60vw;
}
.ticker {
  width: 100%;
  overflow: hidden;
}

.ticker ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  animation: ticker 10s linear infinite;
}

.ticker li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.ticker li::before {
  content: '•';
  position: absolute;
  left: 5px;
  color: #fff;
}

.right-content {
  align-self: center;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding-left: 5px;
}

.img-brand {
  max-width: 200px;
  max-height: 120px;
}
.navbar-menu ul {
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  display: inline-block;
  padding-left: 10px;
}

.search-container {
  display: flex;
}

.search-input {
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 0px 0px 10px;
  color: white;
  padding-left: 20px;
}

.search-button {
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.search-button i {
  color: #fff;
}

.navbar {
  background-color: #353434 !important;
}

.container-fluid {
  padding-left: calc(var(--bs-gutter-x) * 2) !important;
  padding-right: calc(var(--bs-gutter-x) * 2) !important;
}

.navbar a {
  color: white !important;
}

.navbar-toggler {
  color: white !important;
  border: 2px solid rgb(190, 190, 190) !important;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.75s;
  transform-origin: bottom right;
  transform: scaleX(0);
}

.nav-link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*-------------- END OF HEADER ----------------*/

/*------------------ MAIN ---------------------*/

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 20px;
  align-items: center;
  width: 100%;
}

main h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.breaking-news-section {
  width: 100%;
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.breaking-news-section .img-container {
  position: relative;
  width: 100%;
  height: 400px; /* Parámetro que deberáa ajustarse manualmente al subir la imagen */
  background-image: linear-gradient(
      180deg,
      rgba(53, 52, 52, 1) 0%,
      rgba(53, 52, 52, 0.5) 50%,
      rgba(13, 13, 13, 0.1) 70%,
      rgb(13, 13, 13, 1) 100%
    ),
    url('https://www.mediatiko.com/wp-content/uploads/2024/01/argentina-huelga-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 15%;
}

.breaking-news-article-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 0) 5%,
    rgba(13, 13, 13, 0.5) 20%,
    rgba(13, 13, 13, 0.8) 40%,
    rgb(13, 13, 13, 1) 100%
  );
  position: relative;
  padding-right: 7%;
  padding-top: 20px;
  text-align: justify;
}

.breaking-news-article-content h3 {
  color: #acacac;
  margin-bottom: 0px;
}

.breaking-news-article-content h2 {
  margin-top: 0px;
}

.breaking-news-article {
  width: 100%;
  height: 300px;
  background-color: turquoise;
}

.rest-of-news-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title-section {
  margin-bottom: 20px;
}

.current-news-thumbail {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: minmax(250px, auto);
  background-color: #0d0d0d;
  gap: 15px;
}

.current-news-thumbail img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.current-news-card {
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgba(207, 206, 206, 0.2) 0%, rgb(13, 13, 13, 0.5) 100%);
  z-index: 1;
  position: relative;
}

.current-news-card::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  background-image: linear-gradient(90deg, rgba(13, 13, 13, 0.5) 0%, rgb(207, 206, 206, 0.2) 100%);
}

.current-news-card:hover::before {
  opacity: 1;
}

.current-news-card h4 {
  margin: 10px;
}

.current-news-card p {
  margin-left: 10px;
}

.current-news-thumbail img:hover {
  transform: scale(1.1);
}

.containerImg {
  overflow: hidden;
  border-radius: 10px;
}

.economy-section {
  width: 100%;
}

.economy-section h3:hover {
  color: #dc3545;
}

.economy-thumbail {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: minmax(250px, auto);
  background-color: #0d0d0d;
  gap: 15px;
}

.economy-thumbail img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.economy-card {
  overflow: hidden;
  height: auto;
  background-color: #343638;
  border-radius: 10px;
}

.economy-card h4 {
  height: 30%;
  margin: 10px;
}

.economy-thumbail img:hover {
  transform: scale(1.1);
}

.text-information {
  display: none;
}

.sports-section {
  width: 100%;
}

.sports-article {
}

.sports-article img {
  width: 400px;
  height: auto;
}

.sports-thumbail {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: minmax(250px, auto);
  background-color: #0d0d0d;
  gap: 15px;
}

.sports-thumbail img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.sports-card {
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgba(207, 206, 206, 0.2) 0%, rgb(13, 13, 13, 0.5) 100%);
  z-index: 1;
  position: relative;
}

.sports-card::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  background-image: linear-gradient(90deg, rgba(13, 13, 13, 0.5) 0%, rgb(207, 206, 206, 0.2) 100%);
}

.sports-card:hover::before {
  opacity: 1;
}

.sports-card h4 {
  margin: 10px;
}

.sports-card p {
  margin-left: 10px;
}

.sports-thumbail img:hover {
  transform: scale(1.1);
}

.technology-section {
  width: 100%;
  background-color: violet;
}

.technology-article {
  width: 400px;
  height: 300px;
}

.technology-article img {
  width: 400px;
  height: auto;
}

.knowing-argentina-section {
  width: 100%;
}

.main-sections {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1em;
}
.sports-thumbail {
}

.sponsor-thumbail {
}
.technology-thumbail {
}

/*---------------- END OF MAIN -----------------*/

/*------------------ FOOTER --------------------*/

/*-------------- END OF FOOTER -----------------*/

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .breaking-news-section {
    flex-direction: row;
    height: 400px;
  }

  .breaking-news-section .img-container {
    position: absolute;
  }

  .breaking-news-article-content {
    position: absolute;
    width: 40%;
  }

  .economy-thumbail {
    grid-template-columns: 1fr 1fr;
  }

  .economy-card h4 {
    height: auto;
  }
  .economy-card:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
    max-height: 350px;
  }

  .sports-thumbail {
    grid-template-columns: 1fr 1fr;
  }

  .sports-thumbail img {
    max-height: 300px;
  }

  .sports-card h4 {
    height: auto;
  }
  .sports-card:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
    max-height: none;
  }

  .current-news-thumbail {
    grid-template-columns: 1fr 1fr;
  }

  .current-news-thumbail img {
    max-height: 300px;
  }

  .current-news-card h4 {
    height: auto;
  }

  .footer-content {
    width: 400px !important;
    font-size: 40px !important;
  }

  footer h3 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 1365px) {
  #carouselExampleCaptions {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  #carouselExampleCaptions {
    display: block;
  }
  .current-news-card {
    display: none;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 15px;
  }
  .carousel-caption h5,
  .carousel-caption p {
    background-color: transparent;
  }

  .economy-thumbail {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .economy-thumbail img {
    max-height: 240px;
  }

  .economy-card h4 {
    font-size: 1.2rem;
    min-height: 100px;
    height: auto;
  }
  .economy-card:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    max-height: none;
  }
  .text-information {
    display: block;
    font-size: 0.9rem;
    min-height: 100px;
    margin: 10px;
  }

  .sports-thumbail {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sports-thumbail img {
    max-height: 240px;
  }

  .sports-card h4 {
    font-size: 1.2rem;
    min-height: 70px;
    height: auto;
  }
  .sports-card:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    max-height: none;
  }

  .sports-card:nth-child(1) h4 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }

  .sports-card:nth-child(1) p {
    font-size: 20px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgba(53, 52, 52, 1) 0%, rgba(53, 52, 52, 0.5) 80%, rgb(13, 13, 13, 1) 100%);
  padding-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 300px;
  color: #dc3545;
  font-size: 20px;
  padding: 10px 40px 40px;
}

footer h3 {
  font-size: 16px;
}

.instagram-social {
  color: orange;
}

.instagram-social:hover {
  color: rgb(255, 206, 114);
}

.facebook-social {
  color: rgb(67, 127, 255);
}

.facebook-social:hover {
  color: rgb(142, 178, 255);
}

.twitter-social {
  color: gray;
}

.twitter-social:hover {
  color: rgb(233, 233, 233);
}

.tiktok-social {
  color: rgb(180, 0, 0);
}

.tiktok-social:hover {
  color: rgb(170, 63, 63);
}
